
body {
    background-image: url("../img/coffee2.png");
    background-size: cover;
    font-family: 'Covered By Your Grace', cursive;
}

input, select {
    background-color: #924a07;
    color: antiquewhite;
    width: 100%;
    border-radius: 50px;
    height: 2.5em;
}

aside h2 {
    display: inline-block;
    margin-left: 33%;
    font-size: 3em;
}

article>div {
    display: inline-block;
}

article p {
    display: inline-block;
    color: slategray;
}

article h2 {
    display: inline-block;
}

::placeholder {
    color: antiquewhite;
}

.coffeeHeader {
    font-weight: bold;
    font-size: 8em;
    text-align: center;
    padding: 0;
}

.long {
    width: 75%;
    margin-left: 12%;
}
.modal-color {
    background-color: rgb(246, 242, 226);
}
