* {
    font-family: cursive;

}

body {
    background-image: url("../img/coffee2.png");
    background-size: cover;
}
input, select {
    background-color: #924a07;
    color: antiquewhite;
    width: 100%;
    border-radius: 50px;
    height: 2.5em;
}

::placeholder {
    color: antiquewhite;
}

aside h2 {
    display: inline-block;
    margin-left: 33%;
}

.coffeeHeader {
    font-weight: bold;
    font-size: 8em;
    text-align: center;
}


.long {
    width: 75%;
    margin-left: 12%;
}
article div {
    display: inline-block;
}
article p {
    display: inline-block;
    color: slategray;
}
article h2 {
    display: inline-block;
}