* {
    font-family: cursive;

}

body {
    background: linear-gradient(to right, teal, blue);
}

.coffeeHeader {
    font-weight: bold;
    font-size: 8em;
    text-align: center;
}

.hrLine {

}
.long {
    width: 75%;
    margin-left: 12%;
}
article div {
    display: inline-block;
}
article p {
    display: inline-block;
    color: slategray;
}
article h2 {
    display: inline-block;
}